<header class="header">
    <div class="container">
        <div class="header__inner">
            <h3 class="header__logo">OCEANIA</h3>
            <nav class="header__nav">
                <NavLink class="header__nav-link" href="/">Home</NavLink>
                <NavLink class="header__nav-link" href="#">Login</NavLink>
                <NavLink class="header__nav-link" href="#">Animal</NavLink>
            </nav>
        </div>
    </div>
</header>
@code {

}
