@page "/"

<PageTitle>Home</PageTitle>


    <div class="intro">
        <div class="intro__inner">
           <h1>OCEANARIUM</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia odio vitae vestibulum vestibulum. Cras venenatis euismod malesuada. Nullam ac erat ante. Proin facilisis, justo a mollis ultricies, ligula elit tincidunt justo, vitae consectetur risus risus ac neque. Phasellus quis risus ac nisi dignissim laoreet. Maecenas blandit aliquet lorem non sollicitudin. Duis ultricies ipsum at elit feugiat, sit amet pharetra nisi scelerisque. Vivamus eget vehicula lorem. In sit amet leo nec ipsum feugiat dictum sit amet non turpis.</p>
            <div class="intro__btns">
                <NavLink class="intro__btns-link" href="aboutUs">ABOUT US</NavLink>
                <NavLink class="intro__btns-link" href="order">ORDER</NavLink>
                <NavLink class="intro__btns-link" href="shop">SHOP</NavLink>
            </div>
        </div>
    </div>
    <div class="main-content">
    <div>
        <div>
            <Ocean1 path="" number="1" ocean="Pacific Ocean" description="Quisque cursus, metus vitae pharetra auctor, sem massa mattis sem." />
            <Ocean1 path="" number="2" ocean="Arctic Ocean" description="Quisque cursus, metus vitae pharetra auctor, sem massa mattis sem." />
            <Ocean1 path="" number="3" ocean="Atlantic Ocean" description="Quisque cursus, metus vitae pharetra auctor, sem massa mattis sem." />
            <Ocean1 path="" number="4" ocean="Indian Ocean" description="Quisque cursus, metus vitae pharetra auctor, sem massa mattis sem." />
        </div>
        <div>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia odio vitae vestibulum vestibulum. Cras venenatis euismod malesuada. Nullam ac erat ante. Proin facilisis, justo a mollis ultricies, ligula elit tincidunt justo, vitae consectetur risus risus ac neque. Phasellus quis risus ac nisi dignissim laoreet. Maecenas blandit aliquet lorem non sollicitudin. Duis ultricies ipsum at elit feugiat, sit amet pharetra nisi scelerisque.
            </p>
        </div>

    </div>
    <div>
        <h2>About Us</h2>

        <Locations path="" locationName="Pacific Ocean" description="" />
        <Locations path="" locationName="Arctic Ocean" description="" />
        <Locations path="" locationName="Atlantic Ocean" description="" />
        <Locations path="" locationName="Indian Ocean" description="" />
    </div>
    <div>
        <h2>Employees</h2>
        <Employees path="" name="Catherine " description="Lorem ipsum dolor sit amet." />
        <Employees path="" name="Matthew " description="Lorem ipsum dolor sit amet." />
        <Employees path="" name="Lilia " description="Lorem ipsum dolor sit amet." />
        <Employees path="" name="Martin " description="Lorem ipsum dolor sit amet." />
    </div>
    </div>
   
    <div>
        <img src="#" alt="Alternate Text" />
        <img src="#" alt="Alternate Text" />
        <img src="#" alt="Alternate Text" />
    </div>
