<div class="@classes locations">
    <img src="@path" alt="Alternate Text" />
    <div class="locations__text">
        <h3>@locationName</h3>
        <p>@description</p>
    </div>
</div>

@code {
    [Parameter]
    public string classes { get; set; }
    [Parameter]
    public string path { get; set; }
    [Parameter]
    public string locationName { get; set; }
    [Parameter]
    public string description { get; set; }
}
