
<div class="@classes ocean-card">
    <div class="ocean-card__photo">
        <img src="@path" alt="Alternate Text" />
        <span>@number</span>
        <p>@ocean</p>
    </div>
        <p class="ocean-card__description">@description</p>
</div>

@code {
    [Parameter]
    public string classes { get; set; }
    [Parameter]
    public string path { get; set; }
    [Parameter]
    public int number { get; set; }
    [Parameter]
    public string ocean { get; set; }
    [Parameter]
    public string description { get; set;  }
}
