<div>
    <div>
        <h2></h2>
        <p></p>
    </div>
    <div>

        <form action="/" method="post">
            <select>
                <option value="value">text</option>
                <option></option>
                <option></option>
                <option></option>
            </select>
            <select>
                <option value="value">text</option>
                <option></option>
                <option></option>
                <option></option>
            </select>
            <input type="type" name="name" value="" />
            <input type="type" name="name" value="" />
            <input type="type" name="name" value="" />
            <input type="type" name="name" value="" />
            <button type="submit"></button>
            </form>
    </div>
</div>

@code {

}
