*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.container {
    width: 100%;
    max-width: 1620px;
    margin: 0 auto;
    padding: 0 10px;
}


.header{
    background-color: rgba(98,106,108, .39);
    position:absolute;
    z-index:10;
    width: 100%;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}
.header__logo {
    color:white;
    font-size:32px;
    font-weight:bold;
    text-transform:uppercase;
    margin:0;
}

.header__nav{
    display: flex;
    gap: 105px;
}

.header__nav-link{
    color:white;
    font-size:24px;
    text-decoration:none;
    font-weight:400;
}

.intro{
    background-image:url('/images/Group 4.png');
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

.intro__inner {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 18%;
    padding-bottom: 90px;
    color:white;
}
.intro__inner>h1{
    font-size:35px;
    text-transform:uppercase;
}
.intro__inner >p{
    max-width:760px;
    text-align: center;
    margin-top: 60px;
    color:#e0e0e0;
}

.intro__btns {
    display: flex;
    width: 100%;
    margin-top: auto;
    justify-content: space-around;
}
.intro__btns-link {
    color: white;
    text-decoration: none;
    border: 1px solid white;
    text-transform:uppercase;
    padding: 13px 80px;
}
.intro__btns-link:hover{
    background-color:rgba(1,16,31,0.4);
}

.main-content {
    background: linear-gradient(#01101F 0%, #0E3459 50%, #01101F 100%);
}

.order-visiting{
    background-image: url('/images/Ocean3.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat
}

.order-visiting__inner {
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
}

.order-visiting__form {
    display: flex;
    flex-direction: column;
    padding: 0 160px 0;
    gap: 30px;
    background-color: #16191C;
    position: relative;
    justify-content: center;
}

.order-visiting__text{
    display:flex;
    flex-direction:column;
    align-items: center;
    gap: 106px;
    width: 702px;
    text-align:center;
    margin: 130px auto 0;
    color: rgba(255,255,255); 
}
.order-visiting__text > h2{
    font-size:60px
}
.arrow-left {
    position: absolute;
    width: 0;
    height: 0;
    left: -50px;
    top: 119px;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-right: 50px solid #16191C;
}

.order-visiting__form-input {
    border:none;
    width:300px;
    padding: 5px 5px;
    background-color:rgb(255,255,255);
    border-radius: 12px;
    outline:none;
}
.order-visiting__form-validation{
    font-size:12px;
    color:red;
}
.order-visiting__form-btn{
    border:none;
    padding: 5px;
    cursor:pointer;
    border-radius: 12px;
    font-size: 15px;
}
.order-visiting__form-btn:hover {
    background-color: #5EA3E8;
    color: white;
}